/*
 Sticky headers tree views
*/

%sticky {
	position: sticky !important;
	top: 0;
	z-index: 1;
}

// TREE
.o_list_view th {
	@extend %sticky;
	background-color:white;
}

.o_optional_columns_dropdown_toggle {
	z-index: 2;
}

